# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Outputs
outputs/
logs/
*.log

# Checkpoints
*.pt
*.pth
*.ckpt

# Dataset
datasets/

# Jupyter
.ipynb_checkpoints/